/* #region BODY */
html, body {
  min-width: 25rem;
  background: darkslategray;
}
/* #endregion BODY */


/* #region HEADER */
nav {
  /* background: url('https://i.imgur.com/y7yQMkw.gif'); */
}
nav img {
  height: 1.5rem;
}
/* #endregion HEADER */


/* #region MAIN */
body > main {
  padding-top: 0;
  padding-bottom: 0;
}
form {
  margin-bottom: 0;
}
form > .grid-2, form > button {
  margin-top: 1rem;
}
form > .grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
.box {
  border: 4px solid wheat;
  min-height: 4rem;
  text-align: center;
}
form textarea {
  resize: none;
  white-space: nowrap;
}
/* #endregion MAIN */
